<h3><b>Introduction to Data Analytics - Exercise set 5 - data processing and management</b></h3>

In [1]:
# Typical imports
import pandas as pd
import numpy as np
import seaborn as sns

<h4><b>1. </b>Download <b>"simple.json"</b> in Moodle, and load it in pandas.</b> </h4>
<p>
The DataFrame should look like this:
</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex51.png" width="1000"/>

In [2]:
# Download json file
df_json = pd.read_json('simple.json')
df_json

,id,brand,model,year,owned_by,acquired,price
0,1,Chrysler,Voyager,2001,Wolff-Trantow,28/12/2016,11565
1,2,Volkswagen,Jetta,1995,"Schuppe, Pfeffer and Klein",20/4/2016,52431
2,3,Porsche,Cayenne,2005,Mante Group,11/6/2020,75552
3,4,Porsche,928,1994,Wisozk Group,17/6/2019,30331
4,5,Mercedes-Benz,SL-Class,2007,Schiller-Littel,20/7/2018,62385
...,...,...,...,...,...,...,...
95,96,Dodge,Ram 1500 Club,2000,Schneider-Donnelly,28/9/2016,56256
96,97,GMC,Yukon XL 2500,2001,"Powlowski, Lemke and Wiza",19/4/2016,50163
97,98,Chevrolet,Sportvan G20,1992,"O'Keefe, Rogahn and Gleichner",1/6/2019,8577
98,99,Mitsubishi,3000GT,1993,Hoppe-Kunde,29/12/2018,23180
99,100,Chevrolet,TrailBlazer,2002,Wunsch-Friesen,14/11/2018,76830

<h4><b>2.</b> Download <b>"simple.xml"</b> in Moodle, and load it in pandas</h4>
<p>The Series should look something like this:
</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex52.png" />

In [3]:
# Load xml from file, use xpath as first element of root node
df_xml = pd.read_xml('simple.xml', xpath="/*")
df_xml

   id       brand   model  year                    owned_by    acquired  price
0   1  Oldsmobile  Aurora  2003  Herzog, Rodriguez and Howe  21/10/2016  32571

<h4><b>3. Load this API-data into a pandas DataFrame:</b></h4>
<p><a href="https://edu.frostbit.fi/api/events">https://edu.frostbit.fi/api/events</a></p>

<p>
Remember to use json_normalize to help you out with the categories and address information.<br /><b>Have address information in their own columns, and categories as separate rows.</b><br />The DataFrame should look something like this (note that the data changes daily, and exact values will vary):


</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex53.png"/>

In [4]:
# Imports for exercise
import requests
import json

In [5]:
# Url for upload data
url = "https://edu.frostbit.fi/api/events/"
# Save data to json by url request
data = json.loads(requests.get(url).text)
data

[{'name': 'KesÃ¤suunnistus',
  'date': '17.6.2024',
  'categories': ['kera',
   'kilo',
   'kirjastot',
   'kulttuuritapahtumat',
   'leppÃ¤vaara',
   'lintuvaara',
   'osallistuminen'],
  'address': {'street_address': 'LeppÃ¤vaarankatu 9', 'postal_code': '02600'}},
 {'name': 'PERUTTU Drawing Time on tÃ¤Ã¤llÃ¤. Tartu kynÃ¤Ã¤n ja ryhdy piirtÃ¤mÃ¤Ã¤n!',
  'date': '23.5.2024',
  'categories': ['espoon keskus',
   'kaupunginkallio',
   'kirjastot',
   'kuvataide',
   'muurala'],
  'address': {'street_address': 'Siltakatu 11', 'postal_code': '02770'}},
 {'name': 'Vauvaperheohjaus - Vauvan vuorokausirytmi',
  'date': '2.5.2024',
  'categories': ['hyvinvointi', 'keskustelu', 'osallistuminen'],
  'address': {'street_address': 'Nurkkatie 2', 'postal_code': '00760'}},
 {'name': 'Tietotori-minimessut',
  'date': '16.5.2024',
  'categories': ['hyvinvointi', 'liikunta', 'osallistuminen'],
  'address': {'street_address': 'Punahilkantie 16', 'postal_code': '00820'}},
 {'name': 'Pride-askartelu',
  'date': '26.6.2024',
  'categories': ['kulttuuritapahtumat', 'kuvataide', 'tyÃ¶pajat'],
  'address': {'street_address': 'MetsÃ¤purontie 4', 'postal_code': '00630'}},
 {'name': 'Hyvinvointia arkeen tilaisuus',
  'date': '16.5.2024',
  'categories': ['hyvinvointi', 'liikunta', 'luennot'],
  'address': {'street_address': 'Punahilkantie 16', 'postal_code': '00820'}},
 {'name': 'Piano ja baritoni konsertti',
  'date': '23.5.2024',
  'categories': ['hyvinvointi', 'konsertit', 'musiikki'],
  'address': {'street_address': 'Punahilkantie 16', 'postal_code': '00820'}},
 {'name': 'Vauvamuskarin tutustumistuokio',
  'date': '27.5.2024',
  'categories': [],
  'address': {'street_address': 'Kaupintie 4', 'postal_code': '00440'}},
 {'name': 'Hanna Kukkii',
  'date': '13.5.2024',
  'categories': ['osallistuminen', 'ulkoilu'],
  'address': {'street_address': 'Sturenkatu 12', 'postal_code': '00510'}}]

In [6]:
# Lets try to normalize --> doesn't look that good
events = pd.json_normalize(data)
events

,name,date,categories,address.street_address,address.postal_code
0,KesÃ¤suunnistus,17.6.2024,"[kera, kilo, kirjastot, kulttuuritapahtumat, l...",LeppÃ¤vaarankatu 9,02600
1,PERUTTU Drawing Time on tÃ¤Ã¤llÃ¤. Tartu kynÃ¤Ã¤n j...,23.5.2024,"[espoon keskus, kaupunginkallio, kirjastot, ku...",Siltakatu 11,02770
2,Vauvaperheohjaus - Vauvan vuorokausirytmi,2.5.2024,"[hyvinvointi, keskustelu, osallistuminen]",Nurkkatie 2,00760
3,Tietotori-minimessut,16.5.2024,"[hyvinvointi, liikunta, osallistuminen]",Punahilkantie 16,00820
4,Pride-askartelu,26.6.2024,"[kulttuuritapahtumat, kuvataide, tyÃ¶pajat]",MetsÃ¤purontie 4,00630
5,Hyvinvointia arkeen tilaisuus,16.5.2024,"[hyvinvointi, liikunta, luennot]",Punahilkantie 16,00820
6,Piano ja baritoni konsertti,23.5.2024,"[hyvinvointi, konsertit, musiikki]",Punahilkantie 16,00820
7,Vauvamuskarin tutustumistuokio,27.5.2024,[],Kaupintie 4,00440
8,Hanna Kukkii,13.5.2024,"[osallistuminen, ulkoilu]",Sturenkatu 12,00510

In [7]:
# Let's try some other method
from flatten_json import flatten

# Flatten events data and create DataFrame
dict_flatten = (flatten(x, '.') for x in data)
events_flattened = pd.DataFrame(dict_flatten)

In [8]:
# Flattened data looks ok. There is lots of NaN values in different categories.
# And there is two address in one row. Let's leave it there since it was like that in original data.
events_flattened

,name,date,categories.0,categories.1,categories.2,categories.3,categories.4,categories.5,categories.6,address.street_address,address.postal_code,categories
0,KesÃ¤suunnistus,17.6.2024,kera,kilo,kirjastot,kulttuuritapahtumat,leppÃ¤vaara,lintuvaara,osallistuminen,LeppÃ¤vaarankatu 9,02600,NaN
1,PERUTTU Drawing Time on tÃ¤Ã¤llÃ¤. Tartu kynÃ¤Ã¤n j...,23.5.2024,espoon keskus,kaupunginkallio,kirjastot,kuvataide,muurala,NaN,NaN,Siltakatu 11,02770,NaN
2,Vauvaperheohjaus - Vauvan vuorokausirytmi,2.5.2024,hyvinvointi,keskustelu,osallistuminen,NaN,NaN,NaN,NaN,Nurkkatie 2,00760,NaN
3,Tietotori-minimessut,16.5.2024,hyvinvointi,liikunta,osallistuminen,NaN,NaN,NaN,NaN,Punahilkantie 16,00820,NaN
4,Pride-askartelu,26.6.2024,kulttuuritapahtumat,kuvataide,tyÃ¶pajat,NaN,NaN,NaN,NaN,MetsÃ¤purontie 4,00630,NaN
5,Hyvinvointia arkeen tilaisuus,16.5.2024,hyvinvointi,liikunta,luennot,NaN,NaN,NaN,NaN,Punahilkantie 16,00820,NaN
6,Piano ja baritoni konsertti,23.5.2024,hyvinvointi,konsertit,musiikki,NaN,NaN,NaN,NaN,Punahilkantie 16,00820,NaN
7,Vauvamuskarin tutustumistuokio,27.5.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaupintie 4,00440,[]
8,Hanna Kukkii,13.5.2024,osallistuminen,ulkoilu,NaN,NaN,NaN,NaN,NaN,Sturenkatu 12,00510,NaN

In [9]:
# Let's remove old categories column
events_flattened = events_flattened.drop('categories', axis=1)
events_flattened

,name,date,categories.0,categories.1,categories.2,categories.3,categories.4,categories.5,categories.6,address.street_address,address.postal_code
0,KesÃ¤suunnistus,17.6.2024,kera,kilo,kirjastot,kulttuuritapahtumat,leppÃ¤vaara,lintuvaara,osallistuminen,LeppÃ¤vaarankatu 9,02600
1,PERUTTU Drawing Time on tÃ¤Ã¤llÃ¤. Tartu kynÃ¤Ã¤n j...,23.5.2024,espoon keskus,kaupunginkallio,kirjastot,kuvataide,muurala,NaN,NaN,Siltakatu 11,02770
2,Vauvaperheohjaus - Vauvan vuorokausirytmi,2.5.2024,hyvinvointi,keskustelu,osallistuminen,NaN,NaN,NaN,NaN,Nurkkatie 2,00760
3,Tietotori-minimessut,16.5.2024,hyvinvointi,liikunta,osallistuminen,NaN,NaN,NaN,NaN,Punahilkantie 16,00820
4,Pride-askartelu,26.6.2024,kulttuuritapahtumat,kuvataide,tyÃ¶pajat,NaN,NaN,NaN,NaN,MetsÃ¤purontie 4,00630
5,Hyvinvointia arkeen tilaisuus,16.5.2024,hyvinvointi,liikunta,luennot,NaN,NaN,NaN,NaN,Punahilkantie 16,00820
6,Piano ja baritoni konsertti,23.5.2024,hyvinvointi,konsertit,musiikki,NaN,NaN,NaN,NaN,Punahilkantie 16,00820
7,Vauvamuskarin tutustumistuokio,27.5.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaupintie 4,00440
8,Hanna Kukkii,13.5.2024,osallistuminen,ulkoilu,NaN,NaN,NaN,NaN,NaN,Sturenkatu 12,00510

<h4><b>4. Use web scraping (e.g. BeautifulSoup), and use it to get the following info from the Rovaniemi Wikipedia â€“page</b></h4>
<p><b>Wiki-page:</b> <a href="https://en.wikipedia.org/wiki/Rovaniemi">https://en.wikipedia.org/wiki/Rovaniemi</a></p>

<b>Tasks:</b>
<ul>
    <li>Get the coordinates of Rovaniemi (upper right corner)</li>
    <li>Get the nickname of Rovaniemi (under coat of arms)</li>
</ul>

<b>Advanced extra tasks:</b>
<ul>
    <li><b>Get the total population</b></li>
    <ul>
        <li><b>Note:</b> this is a good example why webscraping can be tedious, since you'll have to traverse the HTML-tree to get what you want. This might be helpful:<br />
<a href="https://realpython.com/beautiful-soup-web-scraper-python/">https://realpython.com/beautiful-soup-web-scraper-python/</a></li>
    </ul>
    
</ul>

<ul>
    <li><b>Get the total area</b></li>
    <ul>
        <li>Convert this number into a float decimal (i.e. remove commas and the unit and call float() â€“in Python!)</li>
    </ul>
    
</ul>

In [10]:
# Import Beautifulsoap
from bs4 import BeautifulSoup

In [11]:
# Url to get data
url = "https://en.wikipedia.org/wiki/Rovaniemi"
# Responce from get request
page = requests.get(url)
# Variable to store page content as a soap object
soap = BeautifulSoup(page.content, 'html.parser')

In [12]:
# Find coordinates from soup
coord = soap.find('span', id='coordinates').text
# Some parsing would be nice, but it's good enough.
coord

'Coordinates: 66Â°30â€²N 025Â°44â€²E\ufeff / \ufeff66.500Â°N 25.733Â°E\ufeff / 66.500; 25.733'

In [13]:
# Find all elements with html element 'tr' and class 'mergedtoprow'
name_data = soap.find_all('tr', class_='mergedtoprow')
len(name_data)

14

In [14]:
# Loop all elements
for line in name_data:
    # Find elements with data
    if line.find('td') != None:
        # Find next element with right div and class info
        info = line.findNext('div', class_='ib-settlement-nickname nickname')
        print(info.text)
        break

Arctic Capital; Hometown of Santa Claus

<h4><b>5. Use web scraping, and create a DataFrame of this table: </b></h4>
<p> <a href="https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature">https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature</a></p>

<ul>
    <li>Change the name of the value column to "avg_temp" as well (pandas column rename)</li>
</ul>

<b>Advanced extra task:</b>
<ul>
    <li><b>Scrape these two tables as well</b></li>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate">https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate</a></li>
        <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate">https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate</a></li>
    </ul>
    <br />
    <ul>
        <li><b>Combine the tables into a single DataFrame so that you get only the data of year 2020 or newer, and have the columns <span style="color: darkorange">"Country", "EmploymentRate"</span> and <span style="color: darkorange">"UnemploymentRate"</span>. You can also create additional columns <span style="color: red">"EmploymentRate15_24"</span>and <span style="color: red">" EmploymentRate25_70"</span> if you scrape the OECD-table as well! </b>

</li>
    </ul>
</ul>

In [15]:
# Data url
temp_url = 'https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature'
# Read url to variable, only one table in data so it's ok
temp_data = pd.read_html(temp_url)
# Get real data inside list
real_temp_data = temp_data[0]
# Print data
real_temp_data

          Country     Temperature (Â°C)
0    Burkina Faso  28.29Â Â°C (82.92Â Â°F)
1            Mali  28.25Â Â°C (82.85Â Â°F)
2        Kiribati  28.20Â Â°C (82.76Â Â°F)
3        Djibouti  28.00Â Â°C (82.40Â Â°F)
4        Maldives  28.00Â Â°C (82.40Â Â°F)
..            ...                  ...
187       Finland   1.55Â Â°C (34.79Â Â°F)
188        Norway   1.50Â Â°C (34.70Â Â°F)
189       Iceland  âˆ’0.70Â Â°C (30.74Â Â°F)
190        Canada  âˆ’5.10Â Â°C (22.82Â Â°F)
191        Russia  âˆ’5.35Â Â°C (22.37Â Â°F)

[192 rows x 2 columns]

In [16]:
# Rename column
real_temp_data = real_temp_data.rename(columns={'Temperature (Â°C)': 'avg_temp'})
# Check change
real_temp_data

          Country             avg_temp
0    Burkina Faso  28.29Â Â°C (82.92Â Â°F)
1            Mali  28.25Â Â°C (82.85Â Â°F)
2        Kiribati  28.20Â Â°C (82.76Â Â°F)
3        Djibouti  28.00Â Â°C (82.40Â Â°F)
4        Maldives  28.00Â Â°C (82.40Â Â°F)
..            ...                  ...
187       Finland   1.55Â Â°C (34.79Â Â°F)
188        Norway   1.50Â Â°C (34.70Â Â°F)
189       Iceland  âˆ’0.70Â Â°C (30.74Â Â°F)
190        Canada  âˆ’5.10Â Â°C (22.82Â Â°F)
191        Russia  âˆ’5.35Â Â°C (22.37Â Â°F)

[192 rows x 2 columns]

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex55stocks.jpg" width="450" />

<h4><b>6. Simple merging:</b> Download <u><b>coffee_sales.csv</b></u> and <b><u>temperatures_fixed.csv</u></b> from Moodle.<b></h4>
<p>Use merging to combine these files into one DataFrame, containing the coffee sales data and the corresponding temperature â€“data. (merge(), see materials for examples)</p>

<span style="color: red;"><b>Use left join, and coffee sales as the first DataFrame!</b></span>

In [17]:
# code here

<b>Extra task: </b> Do the same but with <b>temperatures_unfixed.csv</b> instead. Remember <b>groupby()</b> before attempting merging! 

<b>Also, you might want to remove some of the columns before grouping data => <span style="color: red;">Summary + Hour</span>. </b>

<span><i>You can also try to merge the DataFrames so that the Summary â€“of the weather is also added. For this, you probably need to figure out first how to determine the "average" Summary for each day (extra challenge!).</i></span>

In [18]:
# extra task code here, if done

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex56coffee.jpg" width="450" />


<h2><b>Advanced extra tasks for extra points (varying challenges, some require Googling):</b></h2>

<ul>
<li><b>1. Download the "complex.json" â€“file from Moodle.</b> Note that this data is fairly complex (i.e. heavily nested). Use json_normalize and other needed methods to convert this data into a workable DataFrame.</li>
</ul>

In [19]:
# code for the advanced extra task

<ul>
<li><b>2. Load the "simple.json" â€“file without pandas, and try to get the average price with plain Python. </li>
</ul>

In [20]:
# code for the advanced extra task

<ul>
<li><b>3. Download the "complex.xml" file from Moodle, and create a DataFrame out of it.</b></li>
<ul>
    <li><b>Note:</b> using pandas.read_xml() would otherwise work, but it ignores the "ownership" â€“field. You'll have to find another way to get this data into your DataFrame as well!</li>
</ul>
</ul>

In [21]:
# code for the advanced extra task, you can also create a separate notebook for this 
# (might be a better idea, since a new dataset always adds quite much new code)

<ul>
    <li><b>4. Try out Selenium on a site that cannot be scraped with traditional methods. You can use this tutorial as the starting point:</b></li>
    <ul>
        <li><a href="https://www.toptal.com/python/web-scraping-with-python">https://www.toptal.com/python/web-scraping-with-python</a></li>
    </ul>
</ul>

In [22]:
# code for the advanced extra task, you can also create a separate notebook for this 
# (might be a better idea, since a new dataset always adds quite much new code)

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex5charts.jpg" width="600" />

<b>5. Extra challenging advanced task: <span style="color: red;">integrating data sources</span></b>

<ul>
<li><b>Integrate two or more datasets into one matching dataset  (pandas DataFrame), but use any datasets you can find in Kaggle instead of the previous coffee sales + temperature -datasets</b></li>
<br />
<ul>
<li>Find two or more datasets (Kaggle etc.) that have something in common and can be used for merging. </li>
</ul>

<br />
<ul>
<li><b>Typical common columns:</b></li>
<ul>
<li>Coordinates (lat/lng etc.)</li>
<li>Years, months</li>
<li>reference ids (e.g. product id -> product data)</li>
</ul>
</ul>

<br />
<ul>
<li><b>You can use pandas.merge() in order to combine DataFrames</b></li>
<ul>
<li>When combining DataFrames, make sure that the merge doesnâ€™t mess up your data</li>
<li><b>Note:</b> merge can often create way too many extra rows depending on the merging parameters</li>

</ul>
</ul>

<br />
<ul>
<li><b>This exercise can provide even large amounts of points, depending on difficulty. Aspects that affect grading:</b></li>
<ul>
<li>Amount of datasets</li>
<li>Difficulty of the datasets</li>
<li>Using different data formats all at once (XML, JSON, CSV etc.)</li>
<li>Other techniques used to add data: web scraping, data APIs etc.</li>
</ul>
</ul>


</ul>

In [23]:
# this exercise is probably better to do in a separate Jupyter notebook